* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFB85A;
}

header {
    padding: 10px;
    text-align: center;
}

.login-paw-btn {
    position: absolute;
    top: 20px;
    right: 100px;
}

.search_banner {
    background-color: #FFF6E9;
    display: flex;
    flex-direction: row;
    width: 600px;
    margin: 10px auto;
    border-radius: 30px;
}
.search_banner > img {
    margin: 5px 7px;
    height: 35px;
}

.search_banner > input {
    margin: 5px 0;
    width: 85%;
    background-color: inherit;
    border: 0;
    height: 35px;
    padding: 5px;
}


footer {
    border-top: 3px solid #CB8325;
}

footer > ul{
    margin: 15px auto;
    list-style: none;
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 50px;
}

footer li>a {
    text-decoration: none;
    color: black;
}

footer .copywrite {
    text-align: right;
    padding-right: 20px;
}