
.category {
    padding: 15px 20px;
    background-color: #FFF6E9;
    width: 80%;
    border-radius: 8px;
    margin: 0 auto 20px;
}

.nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.nav a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: #6ABE75;
}

.nav_mini {
    list-style: none;
    padding: 0;
    line-height: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_mini  a {
    font-size: 18px;
}

.nav h4 {
    font-size: 20px;
}

.notice {
    width: 54%;
    background-color: #FFF6E9;
    display: inline-block;
    border-radius: 8px;
    padding: 8px;
}

.notice > h3 {
    font-size: 20px;
    padding-left: 7px;
    font-weight: 600;
}

.notice_list ul {
    list-style: none;
    padding: 0 20px;
}

.notice_link {
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.notice_link:hover{
    color: #6ABE75;
}

.shop {
    padding: 15px 20px;
    background-color: #FFF6E9;
    width: 85%;
    margin: 0 auto;
    border-radius: 8px;
}

.hospital {
    padding: 15px 20px;
    background-color: #FFF6E9;
    width: 51%;
    display: inline-block;
    border-radius: 8px;
}

.category_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle{
    display: flex;
    width: 85%;
    margin: 10px auto;
    gap: 20px;
}