.notice_content {
    background-color: #FFF6E9;
    width: 85%;
    margin: 0 auto 10%;
    border-radius: 0 8px 8px 8px;
    padding: 30px 10px;
    min-height: 70vh;
}

.notice_list {
    width: 85%;
    margin: 0 auto;
}

.notice_list > ul {
    list-style: none;
    padding: 15px 25px;
}

.notice_list li {
    border-bottom: 3px solid #d5a15b;
    margin-bottom: 8px;
}

.notice_list a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 7px;
}

.notice_list a:hover {
    color: #CB8325;
}

.notice_form {
    background-color: #FFF6E9;
    width: 500px;
    margin: 0 auto;
}

.notice_form > form {
    display: flex;
    flex-direction: column;
}

.form_btns {
    display: flex;
}

.link {
    width: 85%;
    margin: 20px auto 0;
}

.link > a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #FFF6E9;
    padding: 5px 10px;
    font-size: 18px;
}

.link > a:hover {
    color: #6ABE75;
}

.link .checked {
    background-color: #CB8325;
}

.detail_form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 40px auto 0;
    gap: 30px;
}
.detail_form #title {
    width: 100%;
    border: 0;
    padding: 10px;
    height: 30px;
    font-size: 18px;
}

.detail_form > textarea {
    resize: none;
    border: 0;
    height: 400px;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.paging {
    text-align: center;
}

.paging a {
    text-decoration: none;
    color: black;
}