.notice_content {
    background-color: #FFF6E9;
    width: 75%;
    margin: 0 auto 10%;
    border-radius: 8px;
    padding: 20px 10px;
    height: 600px;
}

.notice_list {
    width: 85%;
    margin: 0 auto;
}

.notice_list > ul {
    list-style: none;
    padding: 15px 25px;
}

.notice_list li {
    border-bottom: 3px solid #d5a15b;
    margin-bottom: 8px;
}

.notice_list a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 7px;
}

.notice_list a:hover {
    color: #CB8325;
}

.notice_form {
    background-color: #FFF6E9;
    width: 500px;
    margin: 0 auto;
}

.notice_form > form {
    display: flex;
    flex-direction: column;
}

.form_btns {
    display: flex;
}