#bodys {
    background-color: #FFB85A;
}

.carousel {
    width: 80%;
    margin: 0 auto;
}

.detail_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #FFF6E9;
    padding: 20px;
    margin: 0 auto;
}

#title{
    background-color: inherit;
    border: 0;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
}

#content, #ingredient{
    background-color: inherit;
    border: 0;
    font-size: 20px;
    resize: none;
    width: 100%;
}

.shop-item h3 {
    font-size: 20px;
}