.shop_container {
    background-color: #FFF6E9;
    width: 70%;
    margin: 0 auto 30px;
    padding: 20px;
}

.link_check {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.link_check > input {
    width: 20px;
}

.link_container  .link_text {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    display: none;
}

.aliergic_container {
    display: flex;
    gap: 20px;
}

.aliergic_container > span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aliergic_container > span input {
    margin-top: 10px;
}

form h3 {
    margin-top: 20px;
    font-size: 20px;
}

.ingredient_detail {
    display: flex;
}

.shop_title {
    width: 100%;
    border: 0;
    height: 44px;
    padding: 10px;
    font-size: 18px;
}

.shop_content {
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 18px;
    resize: none;
}

.ingredient textarea {
    resize: none;
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 18px;
}

.goods-info >span {
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.goods-info {
    margin-bottom: 20px;
}

.recommand_age span{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}