#bodys {
    background-color: #FFB85A;
}

.carousel {
    width: 600px;
    margin: 0 auto;
}

.detail_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #FFF6E9;
    padding: 20px;
    margin: 0 auto;
}

#title{
    background-color: inherit;
    border: 0;
    font-size: 25px;
    font-weight: 500;
    width: 100%;
}

#content, #ingredient{
    background-color: inherit;
    border: 0;
    font-size: 17px;
    resize: none;
    width: 100%;
}

.shop-item h3 {
    font-size: 19px;
}

.carousel-background {
    width: 80%;
    background-color: #FFF6E9;
    margin: 0 auto;
    padding-top: 15px;
}

.modify-btn, .delete-btn {
    width: 150px;
    padding: 10px;
    font-size: 18px;
    margin: 10px auto;
    background-color: #FFB85A;
    border: none;
    color: white;
    font-weight: 600;
}

.modify-btn:hover {
    background-color: #6ABE75;
}

.delete-btn:hover {
    background-color: red;
}

.modify-btn > a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.detail_top #price {
    text-align: right;
    display: block;
    width: 100%;
    background-color: inherit;
    border: none;
    font-size: 30px;
    color: red;
}

.shop-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.shop_links {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #6ABE75;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.age{
    background-color: pink;
    display: inline-block;
    padding: 10px 8px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
}