.shop_container {
    background-color: #FFF6E9;
    width: 70%;
    margin: 0 auto 30px;
    padding: 20px;
}

.link_check {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.link_check > input {
    width: 20px;
}

.link_container  .link_text {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    display: none;
}

.aliergic_container {
    display: flex;
    gap: 20px;
}

.aliergic_container > span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aliergic_container > span input {
    margin-top: 10px;
}

form h3 {
    margin-top: 20px;
    font-size: 20px;
}

.ingredient_detail {
    display: flex;
}

.shop_title {
    width: 100%;
    border: 0;
    height: 44px;
    padding: 10px;
    font-size: 18px;
}

.shop_content {
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 18px;
    resize: none;
}

.ingredient textarea {
    resize: none;
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 18px;
}

.goods-info >span {
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.goods-info {
    margin-bottom: 20px;
}

.recommand_age span{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.all-shopList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    width: 80%;
    margin: 0 auto;
    background-color: #FFF6E9;
    padding: 40px 20px;
    position: relative;
}

.shop-item {
    border: 3px solid #FFB85A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    gap: 10px;
}

.shop_form_link {
    position: absolute;
    left: 20px;
    top: 5px;
    text-decoration: none;
    background-color: #FFB85A;
    color: white;
    padding: 5px 10px;
}

.shop_form_link:hover {
    color: black;
}

.search_category {
    position: relative;
    background-color: #FFF6E9;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    gap: 15px;
    align-items: center;
}

.search_category .categorys {
    display: flex;
    align-items: center;
    height: 100%;
}

.search_category .categorys > div {
    display: flex;
    align-items: center;
    border: 2px solid #FFB85A;
    margin-right: 10px;
    padding: 2px;
    border-radius: 10px;
    font-size: 15px;
    height: 34px;
}

.search_category .categorys img {
    width: 30px;
    height: 30px;
}

#price-content, #allergy-content, #age-content {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 40px;
    z-index: 999;
    background-color: #FFF6E9;
    padding: 4px;
    align-items: center;
    justify-content: center;

}

.shop-contents {
    text-decoration: none;
    color: black;

}

.goods-notice {
    display: flex;
    align-items: center;
    gap: 10px;
}

.goods-notice p {
    background-color: pink;
    padding: 10px 8px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    margin-bottom: 3px;
}