<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/index.css"/>
    <link rel="stylesheet" href="../../static/login.css"/>
    <title>회원가입 선택</title>
</head>
<body>
    <div class="login-background">
        <div class="login-container">
            <a href="/"><img src="../../images/TabbyPaws.svg" alt="메인페이지로 돌아가기"></a>
            <div class="join-check">
                <a href="/join">일반 회원</a>
                <a href="/busniess_join">사업자 회원</a>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li><a href="#">페이지 소개</a></li>
            <li><a href="#">사용자 이용약관</a></li>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">자주묻는 질문</a></li>
            <li><a href="#">contact</a></li>
        </ul>
        <p>email: tabby@naver.com</p>
        <p class="copywrite">© 2024 TabbyPaws ALL RIGHTS RESERVED</p>
    </footer>
</body>
</html>