<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= notice.title %></title>
</head>
<body>
    <h1><%= notice.title %></h1>
    <p><%= notice.content %></p>
    <a href="/notice">리스트로 돌아가기</a>
</body>
</html>